body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.index-heading {
    margin-top: 80px;
}

.index-heading:last-of-type {
    margin-bottom: 40px;
}

.deck-info {
    margin: 25px;
}

#logo {
    font-size: 4em;
}

.page-footer {
    margin-top: 80px;
}

.footer-icon {
   margin: 40px;
}