{% extends "base.html" %}
{% block content %}


<div class="row">
    <div class="valign-wrapper">
        <div class="col s8 offset-s2">
            <div class="card grey lighten-2 warning-box">
                <div class="card-content center-align">
                    <h1>Error 404</h1>
                    <h3>Page Not Found</h3>
                    <h4>Looks like you've taken a wrong turn. Let's get you back home!</h4>
                    <a href="{{ url_for('index') }}" class="btn-large">Home</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}