{% extends "base.html" %}
{% block content %}


<div class="row">
    <div class="valign-wrapper">
        <div class="col s8 offset-s2">
            <div class="card grey lighten-2 warning-box">
                <div class="card-content center-align">
                    <h1>Error 500</h1>
                    <h3>Internal Server Error</h3>
                    <h4>Sorry, looks like our servers are having some
                       difficulties.</h4>
                    <p>Try refreshing the page, and if that doesn't work come
                       back again later.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}