{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Create New Admin</h3>

<div class="row container">
    <!-- The following form is used to create a new
    user object with a truthy is_admin field. -->
    <form class="col s12 m8 offset-m2" method="POST"
     action="{{ url_for('create_new_admin') }}">
        <div class="card-panel">
            <!-- Username Input -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-plus fa-2x prefix"></i>
                    <input id="username" name="username" type="text"
                     pattern="^[a-zA-Z0-9]{5,15}$" class="validate"
                        minlength="5" maxlength="15" 
                        placeholder="Between 5 and 15 characters" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <!-- Password Input -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-lock fa-2x prefix"></i>
                    <input id="password" name="password" type="password"
                      class="validate" minlength="20" 
                      placeholder="Minimum of 20 characters for Administrators"
                       required>
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="col s6
                 offset-s3 btn-large blue lighten-2
                 ">Create New Admin</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}