{% extends "base.html" %}
{% block content %}

<section class="container">
    <h3 class="center-align index-heading">Learning new vocabulary is easy with Flashcards!</h3>
    <h4 class="center-align index-heading">Click 'Play' on a deck below to get started or <a href="{{ url_for('create_an_account') }}">Create an Account</a> to build your own!</h4>

    <h4 class="center-align index-heading">All Decks</h4>
    <div class="row">
        {% for deck in decks %}
        <div class="col s12 m6 l4">
            <div class="card deck-info blue-grey darken-1">
                <div class="card-content white-text">
                    <ul>
                        {% if deck.deck_language == "French" %}
                            <li class="center-align card-item flag-icon"><img src="{{ url_for('static', filename='images/flag-icons/france.jpg') }}" alt=""></li><br>
                        {% elif deck.deck_language == "German" %}
                            <li class="center-align card-item flag-icon"><img src="{{ url_for('static', filename='images/flag-icons/germany.jpg') }}" alt=""></li><br>
                        {% elif deck.deck_language == "Italian" %}
                            <li class="center-align card-item flag-icon"><img src="{{ url_for('static', filename='images/flag-icons/italy.jpg') }}" alt=""></li><br>
                        {% elif deck.deck_language == "Spanish" %}
                            <li class="center-align card-item flag-icon"><img src="{{ url_for('static', filename='images/flag-icons/spain.jpg') }}" alt=""></li><br>
                        {% endif %}
                        <li class="card-title center-align card-item">{{ deck.deck_language }}</li><br>
                        <li class="card-title center-align card-item">{{ deck.deck_name }}</li><br>
                        <li class="card-title center-align card-item">Level: {{ deck.deck_level }}</li><br>
                        <li class="center-align card-item"><a class="waves-effect waves-light btn-large">Play</a></li>
                    </ul>
                </div>
                <div class="card-action white-text">
                    <p>Deck created by: {{ deck.deck_created_by }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}