{% extends "base.html" %}
{% block content %}

<h1 class="center-align">{{ username|title }}'s Profile</h1>

<section class="container">
    <h4 class="center-align index-heading">Your Decks</h4>
    <hr>
    <!-- This button allows the user to create a new deck. -->
    <div class="center-align">
        <a href="{{ url_for('create_deck') }}" class="waves-effect waves-light
         btn-large">Create
            New Deck<i class="fas fa-plus-square right"></i></a>
        <div class="row">
            {% for deck in user_decks %}
            <div class="col s12 m6 xl4">
                <div class="card deck-info blue-grey darken-1">
                    <div class="card-content white-text">
                        <ul>
                            <li class="center-align card-item flag-icon">
                                {% if deck.deck_language == "French" %}
                                    <img src="{{ url_for('static',
                                     filename='images/flag-icons/france.jpg')
                                     }}"
                                        alt="
                                        Icon sized image of the French flag.">
                                {% elif deck.deck_language == "German" %}
                                    <img src="{{ url_for('static',
                                     filename='images/flag-icons/germany.jpg')
                                     }}"
                                        alt="
                                        Icon sized image of the German flag.">
                                {% elif deck.deck_language == "Italian" %}
                                    <img src="{{ url_for('static',
                                     filename='images/flag-icons/italy.jpg')
                                     }}"
                                        alt="
                                        Icon sized image of the Italian flag.">
                                {% elif deck.deck_language == "Spanish" %}
                                    <img src="{{ url_for('static',
                                     filename='images/flag-icons/spain.jpg')
                                     }}"
                                        alt="
                                        Icon sized image of the Spanish flag.">
                                {% endif %}
                            </li><br>
                            <li class="card-title center-align
                             card-item">{{ deck.deck_language }}</li><br>
                            <li class="card-title center-align
                             card-item">{{ deck.deck_name|title }}</li><br>
                            <li class="card-title center-align
                             card-item">Level: {{ deck.deck_level }}</li><br>
                            <li class="center-align card-item">
                                <a class="waves-effect waves-light btn-large 
                                deck-button" href="{{ url_for('edit_deck',
                                 deck_id=deck._id) }}">Edit</a>
                                <a class="waves-effect waves-light btn-large 
                                deck-button" href="{{ url_for('play_deck',
                                 deck_id=deck._id) }}">Play</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-action white-text">
                        <p>Deck created by: {{ deck.deck_created_by|title }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <br>
        <h4 class="center-align index-heading">Decks You Love <i class="fas
           fa-1x fa-heart deck-heart-icon"></i></h4>
        <hr>
        <div class="row">
            {% for deck in user_loved_decks %}
            <div class="col s12 m6 xl4">
                <div class="card deck-info blue-grey darken-1">
                    <div class="card-content white-text">
                        <ul>
                            <li class="center-align card-item flag-icon">
                                {% if deck.deck_language == "French" %}
                                    <img src="{{ url_for('static',
                                     filename='images/flag-icons/france.jpg')
                                     }}"
                                        alt="
                                        Icon sized image of the French flag.">
                                {% elif deck.deck_language == "German" %}
                                    <img src="{{ url_for('static',
                                     filename='images/flag-icons/germany.jpg')
                                     }}"
                                        alt="
                                        Icon sized image of the German flag.">
                                {% elif deck.deck_language == "Italian" %}
                                    <img src="{{ url_for('static',
                                     filename='images/flag-icons/italy.jpg')
                                     }}"
                                        alt="
                                        Icon sized image of the Italian flag.">
                                {% elif deck.deck_language == "Spanish" %}
                                    <img src="{{ url_for('static',
                                     filename='images/flag-icons/spain.jpg')
                                     }}"
                                        alt="
                                        Icon sized image of the Spanish flag.">
                                {% endif %}
                            </li><br>
                            <li class="card-title center-align card-item">
                              {{ deck.deck_language }}</li><br>
                            <li class="card-title center-align card-item">
                              {{ deck.deck_name|title }}</li><br>
                            <li class="card-title center-align card-item">
                              Level: {{ deck.deck_level }}</li><br>
                            <li class="center-align card-item">
                                <a class="waves-effect waves-light btn-large"
                                 href="{{ url_for('play_deck', deck_id=deck._id)
                                 }}">Play</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-action white-text">
                        <p>Deck created by: {{ deck.deck_created_by|title }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
</section>


{% endblock %}