{% extends "base.html" %}
{% block content %}

<h1 class="center-align">{{ username|title }}'s Profile</h1>

<section class="container">
    <h4 class="center-align index-heading">Your Decks</h4>
    <!-- This button allows the user to create a new deck. -->
    <div class="center-align">
        <a href="{{ url_for('manage_deck') }}" class="waves-effect waves-light btn-large">Create
            New Deck<i class="fas fa-plus-square right"></i></a>
        <div class="row">
            {% for deck in user_decks %}
            <div class="col s12 m6 l4">
                <div class="card deck-info blue-grey darken-1">
                    <div class="card-content white-text">
                        <ul>
                            {% if deck.deck_language == "French" %}
                            <li class="center-align card-item flag-icon"><img
                                    src="{{ url_for('static', filename='images/flag-icons/france.jpg') }}"
                                    alt="Icon sized image of the French flag."></li>
                            <br>
                            {% elif deck.deck_language == "German" %}
                            <li class="center-align card-item flag-icon"><img
                                    src="{{ url_for('static', filename='images/flag-icons/germany.jpg') }}"
                                    alt="Icon sized image of the German flag."></li>
                            <br>
                            {% elif deck.deck_language == "Italian" %}
                            <li class="center-align card-item flag-icon"><img
                                    src="{{ url_for('static', filename='images/flag-icons/italy.jpg') }}"
                                    alt="Icon sized image of the Italian flag."></li>
                            <br>
                            {% elif deck.deck_language == "Spanish" %}
                            <li class="center-align card-item flag-icon"><img
                                    src="{{ url_for('static', filename='images/flag-icons/spain.jpg') }}"
                                    alt="Icon sized image of the Spanish flag."></li>
                            <br>
                            {% endif %}
                            <li class="card-title center-align card-item">{{ deck.deck_language }}</li><br>
                            <li class="card-title center-align card-item">{{ deck.deck_name|title }}</li><br>
                            <li class="card-title center-align card-item">Level: {{ deck.deck_level }}</li><br>
                            <li class="center-align card-item"><a class="waves-effect waves-light btn-large">Play</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-action white-text">
                        <p>Deck created by: {{ deck.deck_created_by|title }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
</section>


{% endblock %}