{% extends "base.html" %}
{% block content %}


<h3 class="center-align">Play Deck</h3>
<section class="container">
    <div class="row">
        <div class="col s12 m4 offset-m4">
            <div class="card-panel white-text blue-grey darken-1">
                <ul>
                    <li class="center-align card-item flag-icon">
                        {% if deck.deck_language == "French" %}
                        <img src="{{ url_for('static',
                         filename='images/flag-icons/france.jpg') }}"
                            alt="Icon sized image of the French flag.">
                            {% elif deck.deck_language == "German" %}
                        <img src="{{ url_for('static',
                         filename='images/flag-icons/germany.jpg') }}"
                            alt="Icon sized image of the German flag.">
                            {% elif deck.deck_language == "Italian" %}
                        <img src="{{ url_for('static',
                         filename='images/flag-icons/italy.jpg') }}"
                            alt="Icon sized image of the Italian flag.">
                            {% elif deck.deck_language == "Spanish" %}
                        <img src="{{ url_for('static',
                         filename='images/flag-icons/spain.jpg') }}"
                            alt="Icon sized image of the Spanish flag.">
                        {% endif %}
                    </li><br>
                    <li class="card-title center-align card-item"><h5>
                      {{ deck.deck_language }}</h5></li><br>
                    <li class="card-title center-align card-item"><h5>
                      {{ deck.deck_name|title }}</h5></li><br>
                    <li class="card-title center-align card-item"><h5>
                      Level: {{ deck.deck_level }}</h5></li><br>
                    <li class="card-title center-align card-item"><h5>
                      Created by: {{ deck.deck_created_by|title }}</h5></li><br>
                    <li class="card-title center-align card-item"><p>
                      Deck Description: {{ deck.deck_description}}</p></li><br>
                </ul>
            </div>
        </div>
    </div>
    <div class="col s12 m6 offset-m3 center-align">
        <a href="" class="btn-large reset-button blue">Reset Deck</a>
    </div>
    <div id="deck-container" class="row">
        {% if deck.deck_card_fronts[0] %}
        <div class="col s12 m6 l4">
            <div class="container-body">
                <div class="container card-container">
                    <div class="card play-card center-align">
                        <div class="front orange accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[0] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h1>?</h1>
                        </div>
                        <div class="back blue accent-3 blue accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[0] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h3>{{ deck.deck_card_backs[0] }}</h3>
                        </div>
                        <i class="fas fa-3x fa-sync-alt card-icon 
                        center-align flip-button btn-large blue"></i>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if deck.deck_card_fronts[1] %}
        <div class="col s12 m6 l4">
            <div class="container-body">
                <div class="container card-container">
                    <div class="card center-align play-card">
                        <div class="front orange accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[1] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h1>?</h1>
                        </div>
                        <div class="back blue accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[1] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h3>{{ deck.deck_card_backs[1] }}</h3>
                        </div>
                        <i class="fas fa-3x fa-sync-alt card-icon 
                        center-align flip-button btn-large blue"></i>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if deck.deck_card_fronts[2] %}
        <div class="col s12 m6 l4">
            <div class="container-body">
                <div class="container card-container">
                    <div class="card center-align play-card">
                        <div class="front orange accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[2] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h1>?</h1>
                        </div>
                        <div class="back blue accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[2] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h3>{{ deck.deck_card_backs[2] }}</h3>
                        </div>
                        <i class="fas fa-3x fa-sync-alt card-icon 
                        center-align flip-button btn-large blue"></i>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if deck.deck_card_fronts[3] %}
        <div class="col s12 m6 l4">
            <div class="container-body">
                <div class="container card-container">
                    <div class="card center-align play-card">
                        <div class="front orange accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[3] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h1>?</h1>
                        </div>
                        <div class="back blue accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[3] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h3>{{ deck.deck_card_backs[3] }}</h3>
                        </div>
                        <i class="fas fa-3x fa-sync-alt card-icon 
                        center-align flip-button btn-large blue"></i>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if deck.deck_card_fronts[4] %}
        <div class="col s12 m6 l4">
            <div class="container-body">
                <div class="container card-container">
                    <div class="card center-align play-card">
                        <div class="front orange accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[4] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h1>?</h1>
                        </div>
                        <div class="back blue accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[4] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h3>{{ deck.deck_card_backs[4] }}</h3>
                        </div>
                        <i class="fas fa-3x fa-sync-alt card-icon 
                        center-align flip-button btn-large blue"></i>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if deck.deck_card_fronts[5] %}
        <div class="col s12 m6 l4">
            <div class="container-body">
                <div class="container card-container">
                    <div class="card center-align play-card">
                        <div class="front orange accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[5] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h1>?</h1>
                        </div>
                        <div class="back blue accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[5] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h3>{{ deck.deck_card_backs[5] }}</h3>
                        </div>
                        <i class="fas fa-3x fa-sync-alt card-icon 
                        center-align flip-button btn-large blue"></i>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if deck.deck_card_fronts[6] %}
        <div class="col s12 m6 l4">
            <div class="container-body">
                <div class="container card-container">
                    <div class="card center-align play-card">
                        <div class="front orange accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[6] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h1>?</h1>
                        </div>
                        <div class="back blue accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[6] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h3>{{ deck.deck_card_backs[6] }}</h3>
                        </div>
                        <i class="fas fa-3x fa-sync-alt card-icon 
                        center-align flip-button btn-large blue"></i>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if deck.deck_card_fronts[7] %}
        <div class="col s12 m6 l4">
            <div class="container-body">
                <div class="container card-container">
                    <div class="card center-align play-card">
                        <div class="front orange accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[7] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h1>?</h1>
                        </div>
                        <div class="back blue accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[7] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h3>{{ deck.deck_card_backs[7] }}</h3>
                        </div>
                        <i class="fas fa-3x fa-sync-alt card-icon 
                        center-align flip-button btn-large blue"></i>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if deck.deck_card_fronts[8] %}
        <div class="col s12 m6 l4">
            <div class="container-body">
                <div class="container card-container">
                    <div class="card center-align play-card">
                        <div class="front orange accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[8] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h1>?</h1>
                        </div>
                        <div class="back blue accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[8] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h3>{{ deck.deck_card_backs[8] }}</h3>
                        </div>
                        <i class="fas fa-3x fa-sync-alt card-icon 
                        center-align flip-button btn-large blue"></i>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if deck.deck_card_fronts[9] %}
        <div class="col s12 m6 l4">
            <div class="container-body">
                <div class="container card-container">
                    <div class="card center-align play-card">
                        <div class="front orange accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[9] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h1>?</h1>
                        </div>
                        <div class="back blue accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[9] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h3>{{ deck.deck_card_backs[9] }}</h3>
                        </div>
                        <i class="fas fa-3x fa-sync-alt card-icon 
                        center-align flip-button btn-large blue"></i>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if deck.deck_card_fronts[10] %}
        <div class="col s12 m6 l4">
            <div class="container-body">
                <div class="container card-container">
                    <div class="card center-align play-card">
                        <div class="front orange accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[10] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h1>?</h1>
                        </div>
                        <div class="back blue accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[10] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h3>{{ deck.deck_card_backs[10] }}</h3>
                        </div>
                        <i class="fas fa-3x fa-sync-alt card-icon 
                        center-align flip-button btn-large blue"></i>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if deck.deck_card_fronts[11] %}
        <div class="col s12 m6 l4">
            <div class="container-body">
                <div class="container card-container">
                    <div class="card center-align play-card">
                        <div class="front orange accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[11] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h1>?</h1>
                        </div>
                        <div class="back blue accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[11] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h3>{{ deck.deck_card_backs[11] }}</h3>
                        </div>
                        <i class="fas fa-3x fa-sync-alt card-icon 
                        center-align flip-button btn-large blue"></i>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if deck.deck_card_fronts[12] %}
        <div class="col s12 m6 l4">
            <div class="container-body">
                <div class="container card-container">
                    <div class="card center-align play-card">
                        <div class="front orange accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[12] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h1>?</h1>
                        </div>
                        <div class="back blue accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[12] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h3>{{ deck.deck_card_backs[12] }}</h3>
                        </div>
                        <i class="fas fa-3x fa-sync-alt card-icon 
                        center-align flip-button btn-large blue"></i>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if deck.deck_card_fronts[13] %}
        <div class="col s12 m6 l4">
            <div class="container-body">
                <div class="container card-container">
                    <div class="card center-align play-card">
                        <div class="front orange accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[13] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h1>?</h1>
                        </div>
                        <div class="back blue accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[13] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h3>{{ deck.deck_card_backs[13] }}</h3>
                        </div>
                        <i class="fas fa-3x fa-sync-alt card-icon 
                        center-align flip-button btn-large blue"></i>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if deck.deck_card_fronts[14] %}
        <div class="col s12 m6 l4">
            <div class="container-body">
                <div class="container card-container">
                    <div class="card center-align play-card">
                        <div class="front orange accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[14] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h1>?</h1>
                        </div>
                        <div class="back blue accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[14] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h3>{{ deck.deck_card_backs[14] }}</h3>
                        </div>
                        <i class="fas fa-3x fa-sync-alt card-icon 
                        center-align flip-button btn-large blue"></i>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if deck.deck_card_fronts[15] %}
        <div class="col s12 m6 l4">
            <div class="container-body">
                <div class="container card-container">
                    <div class="card center-align play-card">
                        <div class="front orange accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[15] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h1>?</h1>
                        </div>
                        <div class="back blue accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[15] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h3>{{ deck.deck_card_backs[15] }}</h3>
                        </div>
                        <i class="fas fa-3x fa-sync-alt card-icon 
                        center-align flip-button btn-large blue"></i>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if deck.deck_card_fronts[16] %}
        <div class="col s12 m6 l4">
            <div class="container-body">
                <div class="container card-container">
                    <div class="card center-align play-card">
                        <div class="front orange accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[16] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h1>?</h1>
                        </div>
                        <div class="back blue accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[16] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h3>{{ deck.deck_card_backs[16] }}</h3>
                        </div>
                        <i class="fas fa-3x fa-sync-alt card-icon 
                        center-align flip-button btn-large blue"></i>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if deck.deck_card_fronts[17] %}
        <div class="col s12 m6 l4">
            <div class="container-body">
                <div class="container card-container">
                    <div class="card center-align play-card">
                        <div class="front orange accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[17] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h1>?</h1>
                        </div>
                        <div class="back blue accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[17] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h3>{{ deck.deck_card_backs[17] }}</h3>
                        </div>
                        <i class="fas fa-3x fa-sync-alt card-icon 
                        center-align flip-button btn-large blue"></i>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if deck.deck_card_fronts[18] %}
        <div class="col s12 m6 l4">
            <div class="container-body">
                <div class="container card-container">
                    <div class="card center-align play-card">
                        <div class="front orange accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[18] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h1>?</h1>
                        </div>
                        <div class="back blue accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[18] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h3>{{ deck.deck_card_backs[18] }}</h3>
                        </div>
                        <i class="fas fa-3x fa-sync-alt card-icon 
                        center-align flip-button btn-large blue"></i>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if deck.deck_card_fronts[19] %}
        <div class="col s12 m6 l4">
            <div class="container-body">
                <div class="container card-container">
                    <div class="card center-align play-card">
                        <div class="front orange accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[19] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h1>?</h1>
                        </div>
                        <div class="back blue accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[19] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h3>{{ deck.deck_card_backs[19] }}</h3>
                        </div>
                        <i class="fas fa-3x fa-sync-alt card-icon 
                        center-align flip-button btn-large blue"></i>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if deck.deck_card_fronts[20] %}
        <div class="col s12 m6 l4">
            <div class="container-body">
                <div class="container card-container">
                    <div class="card center-align play-card">
                        <div class="front orange accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[20] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h1>?</h1>
                        </div>
                        <div class="back blue accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[20] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h3>{{ deck.deck_card_backs[20] }}</h3>
                        </div>
                        <i class="fas fa-3x fa-sync-alt card-icon 
                        center-align flip-button btn-large blue"></i>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if deck.deck_card_fronts[21] %}
        <div class="col s12 m6 l4">
            <div class="container-body">
                <div class="container card-container">
                    <div class="card center-align play-card">
                        <div class="front orange accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[21] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h1>?</h1>
                        </div>
                        <div class="back blue accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[21] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h3>{{ deck.deck_card_backs[21] }}</h3>
                        </div>
                        <i class="fas fa-3x fa-sync-alt card-icon 
                        center-align flip-button btn-large blue"></i>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if deck.deck_card_fronts[22] %}
        <div class="col s12 m6 l4">
            <div class="container-body">
                <div class="container card-container">
                    <div class="card center-align play-card">
                        <div class="front orange accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[22] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h1>?</h1>
                        </div>
                        <div class="back blue accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[22] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h3>{{ deck.deck_card_backs[22] }}</h3>
                        </div>
                        <i class="fas fa-3x fa-sync-alt card-icon 
                        center-align flip-button btn-large blue"></i>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if deck.deck_card_fronts[23] %}
        <div class="col s12 m6 l4">
            <div class="container-body">
                <div class="container card-container">
                    <div class="card center-align play-card">
                        <div class="front orange accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[23] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h1>?</h1>
                        </div>
                        <div class="back blue accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[23] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h3>{{ deck.deck_card_backs[23] }}</h3>
                        </div>
                        <i class="fas fa-3x fa-sync-alt card-icon 
                        center-align flip-button btn-large blue"></i>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if deck.deck_card_fronts[24] %}
        <div class="col s12 m6 l4">
            <div class="container-body">
                <div class="container card-container">
                    <div class="card center-align play-card">
                        <div class="front orange accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[24] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h1>?</h1>
                        </div>
                        <div class="back blue accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[24] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h3>{{ deck.deck_card_backs[24] }}</h3>
                        </div>
                        <i class="fas fa-3x fa-sync-alt card-icon 
                        center-align flip-button btn-large blue"></i>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if deck.deck_card_fronts[25] %}
        <div class="col s12 m6 l4">
            <div class="container-body">
                <div class="container card-container">
                    <div class="card center-align play-card">
                        <div class="front orange accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[25] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h1>?</h1>
                        </div>
                        <div class="back blue accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[25] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h3>{{ deck.deck_card_backs[25] }}</h3>
                        </div>
                        <i class="fas fa-3x fa-sync-alt card-icon 
                        center-align flip-button btn-large blue"></i>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if deck.deck_card_fronts[26] %}
        <div class="col s12 m6 l4">
            <div class="container-body">
                <div class="container card-container">
                    <div class="card center-align play-card">
                        <div class="front orange accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[26] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h1>?</h1>
                        </div>
                        <div class="back blue accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[26] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h3>{{ deck.deck_card_backs[26] }}</h3>
                        </div>
                        <i class="fas fa-3x fa-sync-alt card-icon 
                        center-align flip-button btn-large blue"></i>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if deck.deck_card_fronts[27] %}
        <div class="col s12 m6 l4">
            <div class="container-body">
                <div class="container card-container">
                    <div class="card center-align play-card">
                        <div class="front orange accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[27] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h1>?</h1>
                        </div>
                        <div class="back blue accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[27] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h3>{{ deck.deck_card_backs[27] }}</h3>
                        </div>
                        <i class="fas fa-3x fa-sync-alt card-icon 
                        center-align flip-button btn-large blue"></i>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if deck.deck_card_fronts[28] %}
        <div class="col s12 m6 l4">
            <div class="container-body">
                <div class="container card-container">
                    <div class="card center-align play-card">
                        <div class="front orange accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[28] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h1>?</h1>
                        </div>
                        <div class="back blue accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[28] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h3>{{ deck.deck_card_backs[28] }}</h3>
                        </div>
                        <i class="fas fa-3x fa-sync-alt card-icon 
                        center-align flip-button btn-large blue"></i>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if deck.deck_card_fronts[29] %}
        <div class="col s12 m6 l4">
            <div class="container-body">
                <div class="container card-container">
                    <div class="card center-align play-card">
                        <div class="front orange accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[29] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h1>?</h1>
                        </div>
                        <div class="back blue accent-3">
                            <h3 class="card-text">
                              {{ deck.deck_card_fronts[29] }}</h3>
                            <h3 class="card-text">=</h3>
                            <h3>{{ deck.deck_card_backs[29] }}</h3>
                        </div>
                        <i class="fas fa-3x fa-sync-alt card-icon 
                        center-align flip-button btn-large blue"></i>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
        <div class="col s12 m6 offset-m3 center-align">
            <a href="" class="btn-large reset-button blue">Reset Deck</a>
        </div>
    </div>
</section>

{% endblock %}