{% extends "base.html" %}
{% block content %}

<h3 class="center-align">User Management</h3>

<section class="container">
        <h4 class="center-align">Administrators</h4>
        <div class="center-align">
            <a href="#" class="waves-effect waves-light btn-small">Create
                New Admin<i class="fas fa-plus-square right"></i></a>
        </div>
        <table class="centered responsive-table striped">
            <thead>
              <tr>
                  <th>Name</th>
                  <th>Join Date</th>
                  <th></th>
                  <th></th>
              </tr>
            </thead>
    
            <tbody>
                {% for user in users %}
                    {% if user.is_admin %}
                        <tr>
                            <td>{{ user.username|title }}</td>
                            <td>Jellybean</td>
                            {%if not user.username == "admin"%}
                                <td><a href="{{ url_for('admin_delete_user', user_id=user._id) }}" class="btn-small red">Delete User</a></td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
          </table>

        <h4 class="center-align">Standard Users</h4>
        <table class="centered responsive-table striped">
            <thead>
              <tr>
                  <th>Name</th>
                  <th>Join Date</th>
                  <th>Decks</th>
                  <th></th>
                  <th></th>
              </tr>
            </thead>
    
            <tbody>
                {% for user in users %}
                    {% if not user.is_admin %}
                        <tr>
                            <td>{{ user.username|title }}</td>
                            <td>Jellybean</td>
                            <td>$3.76</td>
                            <td><a href="" class="btn-small blue">View Decks</a></td>
                            <td><a href="{{ url_for('admin_delete_user', user_id=user._id) }}" class="btn-small red">Delete User</a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
          </table>
</section>


{% endblock %}